<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About</title>
<script src="https://unpkg.com/htmx.org@2.0.0-alpha1/dist/htmx.min.js" defer></script>
<script src="/router-url.js" defer></script>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
		<a hx-get="/home.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">Home</a>
		<a hx-get="/about.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">About</a>
		<a hx-get="/contact.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">Contact</a>
		<a hx-get="/pricing.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">Pricing</a>
		<a hx-get="/invalid.html" hx-select=".wrapper" hx-target="#main">Ignored route test</a>
	</header>

	<main id="main" class="container">

        <div id="wrapper" class="wrapper">
            <h1 class="gradient-text">About</h1>
            <p class="gradient-text-sm">This is a route for the about page.</p>
        </div>

    </main>

</body>
</html>