<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HTMX URL navigation</title>
<script src="https://unpkg.com/htmx.org@2.0.0-alpha1/dist/htmx.min.js" defer></script>
<script src="/router-url.js" defer></script>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
		<a hx-get="/home.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">Home</a>
		<a hx-get="/about.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">About</a>
		<a hx-get="/contact.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">Contact</a>
		<a hx-get="/pricing.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">Pricing</a>
		<a hx-get="/invalid.html" hx-select=".wrapper" hx-target="#main">Ignored route test</a>
	</header>

	<main id="main" class="container">

        <div class="wrapper">
            <p class="side-note">Code 55% less stressed out with bigSky<a href="https://htmx.org/"> CoHTML.</a></p>
            <h3 class="gradient-text">HTMX 2.0 <br>The Framework</h3>
            <h3 class="gradient-text-sm">of the 21st century library enjoyer.</h3>

            <a class="button" hx-get="/asd.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">Premium</a>
            <a class="button" hx-get="/asd.html" hx-ext="router" hx-select=".wrapper" hx-target="#main">Pricing</a>

            <p class="toast-note">Get started with building a counter!</p>   
            <pre>
            <code>
    ...</code>
            </pre>
                        
            <p class="side-note">Go find out how long it takes to render 10000 divs!</p>   

            <a class="button" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/var">What the heck is a VAR?</a>

        </div>

    </main>

</body>
</html>