<div class="wrapper">
    <p class="side-note">Code 55% less stressed out with bigSky<a href="https://htmx.org/"> CoHTML.</a></p>
    <h3 class="gradient-text">HTMX 2.0 <br>The Framework</h3>
    <h3 class="gradient-text-sm">of the 21st century library enjoyer.</h3>

    <a class="button" hx-get="/pricing.html" hx-ext="router" hx-target="#main">Premium</a>
    <a class="button" hx-get="/pricing.html" hx-ext="router" hx-target="#main">Pricing</a>

    <p class="toast-note">Get started with building a counter!</p>   
    <pre>
    <code>
    var count = 0;
    function increment() {
        count++;
        return count;
    }
    increment();</code>
    </pre>
                
    <p class="side-note">Go find out how long it takes to render 10000 divs!</p>   

    <a class="button" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/var">What the heck is a VAR?</a>

</div>